.load-more-container {
    margin: auto;
    display:  flex;
    flex-direction: column;
    gap: 20px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 2px solid blueviolet;
    border-color: black;
}

.product{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid blueviolet;
}